.complete {
    background-color: #fff;
    max-width: 402px;
    width: 100%;
    border-radius: 12px;
    margin: 0 auto;
    color: #334155;
    border: 1px solid #cbd5e1;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    .complete__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        svg {
            width: 36px;
            height: 36px;
            color: #16a34a;
        }
        h2 {
            font-weight: 500;
            margin-top: 10px;
            font-size: 21px;
        }
    }

    .complete__image {
        width: 100%;
        border-radius: 10px;
        height: 200px;
        background-color: #1f2937;
        margin-top: 20px;
        position: relative;;
        display: block;
        object-fit: cover;
    }

    .complete__link {
        background-color: #f3f4f6;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 100px;
        margin-top: 20px;
        border-radius: 8px;
        position: relative;
        border: 1px solid #d1d5db;
        p {
            font-size: 13px;
            color: #6b7280;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            align-self: center;
        }
        button {
            color: white;
            font-weight: 500;
            border: none;
            background-color: #2563eb;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 35px;
            height: auto;
            gap: 3px;
            flex-shrink: 0;
            padding: 5px;
            border-radius: 8px;
            transition: all 150ms linear;
            cursor: pointer;
            svg {
                width: 24px;
                height: 24px;
            }
            span {
                margin: 0;
            }
            &:hover {
                background-color: #1e40af;
            }
        }
    }
}

.restart {
    position: absolute;
    border: 0;
    background: transparent;
    color: #0f172a;
    display: flex;
    align-items: center;
    bottom: 50px;
    gap: 3px;
    cursor: pointer;
    svg {
        width: 20px;
        height: 20px;
    }

    &:hover {
        color: #64748b
    }
}